<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel = "icon"  href = "todo.jpg">
</head>
<h1>
    <a href="/">Tasks</a>
    <a href="/add-task">Insert Tasks</a>
    <a href="/list-task">List Tasks</a>
    <a href="/update-task">Update Tasks</a>
    <a href="/delete-task">Delete Tasks</a>
</h1>
<form action="/addtask" method="POST">
    <div><label>Task Name: </label> <input type="text" name="taskName" /></div></br>
    <div><label>Task Due Date: </label> <input type="text" name="taskDueDate" /> </div> </br>
    <div><label>Task Status: </label><input type="text" name="taskStatus" /></div></br>
    <div><label>Task Description: </label> <input type="text" name="taskDescription" /> </div></br>
    <div><label>Task Assigned to: </label> <input type="text" name="taskAssignTo" /> </div></br>

    <button>submit</button>
</form>
</br>


</html>