<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel = "icon"  href = "todo.jpg">
</head>

<body>
    <h1>Update Task</h1></br>
    <h1>
        <a href="/">Tasks</a>
        <a href="/add-task">Insert Tasks</a>
        <a href="/list-task">List Tasks</a>
        <a href="/update-task">Update Tasks</a>
        <a href="/delete-task">Delete Tasks</a>
    </h1>
    <form action="/updatetaskdata" method="POST">
        Task Id <input type="text" name="taskId" /> </br>
        <div><label>Task Status: </label>
            <select name="newTaskStatus">
                <option value="complete">Completed</option>
                <option value="inprogress">In Progress</option>
            </select>
        </div></br>
        <input type="submit" value="Submit" /> </br>
    </form>
</body>

</html>