<html>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

    <link rel="stylesheet" href="style.css">

</head>

<body>
    <h1> List of Tasks
    </h1>
    </br>
    <a href="/add-task">Add Task</a>
    <a href="/">Home</a>
    </br>
    <div>
        <table>
            <tr>
                <td>Task Name</td>
                <td>Task Due Date</td>
                <td>Task Description</td>
            </tr>
            <% for ( var i =0; i< taskDb1.length;i++){ %>
            <tr>
                <td>
                    <%= taskDb[i].taskname %>
                </td>
                <td>
                    <%= taskDb[i].taskduedate %>
                </td>
                <td>
                    <%= taskDb[i].taskdescription %>
                </td>
            </tr>
            <% }%>
        </table>
    </div>
</body>

</html>